Package: %PACKAGE_NAME%
Version: %PACKAGE_VERSION%
Section: base
Priority: optional
Architecture: all
Essential: no
Depends: python3, python3-pip, python3-yaml, python3-selenium, chromium-browser, chromium-chromedriver
Installed-Size: 1000
Maintainer: Jan Bissinger
Description: Small monitoring script for the ecuagenera.comwebsite
