[Unit]
Description=Start ecuagenera crawler service

[Service]
User=pi
ExecStart=/usr/bin/python3 /opt/ecuagenera-bot/ecuagenera_bot.py --log_level 10

# keep process after user logs off
RemainAfterExit=false

# Use syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ecuagenera-bot

[Install]
WantedBy=default.target
